.earning-page{
    background-color: #191919;
}
.earning-page .section1{
    padding:200px 10% 100px 10%;
    min-height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.form-div{
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bordered{
    border-top:solid 1px gray;
    border-left:solid 1px gray;
}
.inline-div{
    display: flex;
    align-items: center;
}

.inline-div img{
    height: 20px;
    margin-left: -30px;
    margin-right: 10px;
}

.right-form-div{
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-form-div{
    max-width:700px;
    padding:30px 0 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.left-form-div > div{
    width: 100%;
    display: block;
}
.left-form-div p{
    color: #f33898;
}
.form-div label{
    color: white;
    text-align: left;
    margin: 25px 0 10px 0;
}
.form-div input{
    width: 80%;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    color:white;
    padding:10px;
}
.form-div input:valid{
    border: 1px solid #f33898;
}

.form-div input + *::before{
    content:url(image/invalid-icon.png);
}

.form-div input:empty + *::before{
    content:url(image/invalid-icon.png);
}
.form-div input:valid+ *::before, .form-div input:focus::before{
    content:url(image/valid-icon.png);
}

#upload-div{
    width: 80%;
    justify-content: space-between;
}


#upload-button{
    width:140px;
    background-color: #f33898;
    border-radius: 5px;
    border: none;
    color:black;
    font-size: 20px;
    padding:10px;
    clear: both;
    overflow: hidden;
    position: relative;
}

#myfile{
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
#file_name{
    width: 100%;
}
.submit-button{
    cursor: pointer;
}
#thanks-div{
    background-color: #1e1e1e;
    border: solid 1px #f33898;
    border-radius: 20px;
    display: none;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#thanks-div span{
    color: #707070;
    font-style: italic;
    font-size: 25px;
    margin-bottom:25px;
}

@media only screen and (max-width: 1365px){
    .earning-page .section1{
        padding:120px 5% 130px 5%;
    }

    .left-form-div{
        width:100%;
    }
    .right-form-div{
        width: 100%;
    }

}
