/* @import url('https://fonts.googleapis.com/css?family=SofiaPro%20ExtraLight');
@import url('https://fonts.googleapis.com/css?family=SofiaPro%20Bold');
@import url('https://fonts.googleapis.com/css?family=SofiaPro%20ExtraLight');
@import url('https://fonts.googleapis.com/css?family=SofiaPro%20ExtraLight');
@import url('https://fonts.googleapis.com/css?family=SofiaPro%20ExtraLight');
@import url('https://fonts.googleapis.com/css?family=SofiaPro%20ExtraLight'); */
#page-wrapper{
    position: relative;
}
header{
    z-index: 50;
    height:130px;
    position:fixed;
    top:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10%;
    border-bottom: solid 1px #424459;
    background-color: rgba(0, 0, 0, 0.486);
}
div.left-control{
    z-index: 50;
    position:fixed;
    left:5%;
    top:50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.left-control a{
    margin:12px 0;
}
a.bottom-control{
    z-index: 50;
    position:fixed;
    bottom:5%;
    left:50%;
}
header .logo{
    height: 40px;
}
#footer {
    height:80px;
    position:absolute;
    bottom:0;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 10%;
    border-top: solid 1px #424459;
    background-color: rgba(0, 0, 0, 0.486);
}
#footer span{
    color: white;
    font-size: 25px;;
}
button.login-button{
    background-color: #0da8bf;
    border:none;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#050716;
    height: 50px;
    width: 180px;
    padding: 0 35px 0 15px;
    font-size: 20px;
    font-weight: 600;
}
main{
    z-index: 50;
}
div.page{
    position: relative;
    width:100%;
    height: 100vh;    
    align-items: center;
}
div#page1{
    background-image: url("../../image/back1.png");
    background-size:cover;
}
div#page2{
    background-image: url("../../image/back2.png");
    background-size:cover;
}
div#page3{
    background-image: url("../../image/back3.png");
    background-size:cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div#page4{
    background-image: url("../../image/back4.png");
    background-size:cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}
div#page1 > div{
    width: 800px;
    min-height: 100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div#page2 .section1{
    min-height:100vh;
    min-width: 800px;
    padding:10vh 0 20vh 10vw;
    width:40%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: left;
}
#page2 .section2{
    z-index: 20;
    position: absolute;
    right:5vw;
    bottom: 20vh;
    width:50%;
}
#page2 .section3{
    z-index: 10;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    width:100%;
    justify-content: start;
    align-items: center;
    bottom:0;
    background-color: black;
    height: 30vh;
    min-height: 200px;
    padding:0 20px 0 20px;
}
#page2 .section3 a{
    display: inline;
    margin: 10px;
    min-height: 30px;
    max-height: 30px;
}
#page2 .section3 a img{
    min-height: 100%;
    max-height: 100%;
}
#page3 .section1{
    min-width: 500px;
    padding-top:130px;
    padding-left:10vw;
    width:40%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: left;
}
#page3 .section2{
    position: absolute;
    align-self: center;
    right:0;
    min-height: 90vh;
    padding-top:130px;
    padding-right: 5vw;
}
#page4 .section1{
    min-width: 500px;
    padding-top:130px;
    padding-left:10vw;
    width:40%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: left;
}
#page4 .section2{
    position: absolute;
    align-self: center;
    right:0;min-height: 80vh;
    padding-top:130px;
    padding-right: 5vw;
}
#page2 h1{
    color:#009ae6;
}
h1,h2,h3,h4{
    font-family: "";
    color: white;
}
h1{
    font-size: 78px;
}
h1.title{
    margin-top:100px;
}
h2{
    font-size: 55px;
}
h3{
    font-size: 45px;
}
h4{
    font-size: 35px;
}
.second{
    font-family: 'second';
}
.second-color{
    color: #f33898;
}
a.earning{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    max-width: 400px;
    text-align: center;
    font-family: "SofiaPro Bold";
    font-weight: bolder;
    font-size: 25px;
    background-color: #f33898;
    padding:20px;
    margin:30px 0;
    border:none;
    letter-spacing: 5px;
}
a.earning::after{
    content: url(../../image/right-arrow.png);
    align-self: center;
    height:25px;
    margin-left:10px;
}
.flex{
    display:flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.white-quote{
    border-left: 15px solid white;
    padding:25px 15px;
}
.h-5{
    min-height:40vh;
}
.h-full{
    min-height: 100%;
}

@media only screen and (max-width: 1024px){
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 25px;
    }
    #page2 .section3{
        justify-content: start;
        height:20vh;
    }
    #page2 .section1{
        padding-bottom:20vh;
    }
    #page2 .section2{
        height: 20vh;
    }
    #page3 .section2{
        height: 20vh;
    }
    #page3 .section2{
        height: 20vh;
    }
    a.earning{
        max-width: 300px;
        font-size: 20px;
        padding:10px;
        letter-spacing: 5px;
    }
    header{
        padding: 0 5% 0 5% !important;
        height: 80px;
    }
    header .logo{
        height:30px;
    }
    div.left-control{
        left:2%;
    }
    .section1{
        padding-left:5vw !important;
    }

    div#page2 .section1{
        min-width: 500px;
    }
    div#page3 .section1{
        min-width: 400px;
    }
    div#page4 .section1{
        min-width: 400px;
    }
}
@media only screen and (max-width: 768px){
    div.page .section2{
        display:none;
    }
    div#page3 .section1{
        min-width: 100%;
    }
    div#page4 .section1{
        min-width: 100%;
    }
}